# --- Pastas Geradas e Temporárias (NÃO ENVIAR) ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]serSettings/

# --- Arquivos de Solução e IDE (NÃO ENVIAR) ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.pdb
*.opendb
*.VC.db
*.vs/
.vscode/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Crash Reports ---
sysinfo.txt
crashlytics-build.properties